.aside-menu {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__menu {
    width: 100%;
    align-items: center;
  }
}
