.header {
  width: 100%;
  height: $header-height-s;

  @include screen-l {
    height: $header-height-l;
  }

  padding-inline: 16px;

  @include screen-l {
    padding-inline: 32px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 100%;

    &-link {
      height: 32px;
    }
  }
}
