.hero-block {
  width: 100%;
  height: calc(100vh - $header-height-s);

  @include screen-l {
    height: calc(100vh - $header-height-l);
  }

  padding-block: 32px 40px;

  &__text {
    text-align: center;
    grid-column: 1 / -1;
    align-self: first baseline;
  }

  &__title {
    text-align: center;
    color: $accent-orange;
    grid-column: 1 / -1;
  }

  &__big-cookie {
    width: 100%;
    grid-column: 1 / -1;
  }

  &__button-link {
    grid-column: 1 / -1;
    align-self: last baseline;

    @include screen-m {
      grid-column: 3 / span 4;
    }

    @include screen-l {
      grid-column: 1 / span 2;
    }
  }
}
