.hero-block {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  &__content {
    height: 100%;
    padding-block: 32px 40px;
  }

  &__text {
    grid-column: 1 / -1;
    align-self: first baseline;
  }

  &__title {
    grid-column: 1 / -1;
  }

  &__big-cookie {
    width: 100%;
    grid-column: 1 / -1;
  }

  &__button-link {
    grid-column: 1 / -1;
    align-self: last baseline;

    @include screen-m {
      grid-column: 3 / span 4;
    }

    @include screen-l {
      grid-column: 1 / span 2;
    }
  }
}
