@import 'utils';
@import 'fonts';
@import 'typography';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $bg-blue;
}

@import 'blocks/hero-block';
@import 'blocks/header';
