$c-gray: #eee;
$bg-blue: #eef7ff;
$bg-pink: #ffeefc;
$dark-orange: #b2341a;
$accent-orange: #f9512e;
$light-orange: #fba28f;
$black: #1c1a26;
$grey: #7f8096;
$white: #ffffff;
$header-height-s: 64px;
$header-height-l: 88px;
